#include <physical_layouts.dtsi>

/ {
    slimredox_physical_layout_0: slimredox_physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   32       0     0     0>
            , <&key_physical_attrs 100 100  100   32       0     0     0>
            , <&key_physical_attrs 100 100  200   20       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   29       0     0     0>
            , <&key_physical_attrs 100 100  500   42       0     0     0>
            , <&key_physical_attrs 100 100  600   42       0     0     0>
            , <&key_physical_attrs 100 100  800   42       0     0     0>
            , <&key_physical_attrs 100 100  900   42       0     0     0>
            , <&key_physical_attrs 100 100 1000   29       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200   20       0     0     0>
            , <&key_physical_attrs 100 100 1300   32       0     0     0>
            , <&key_physical_attrs 100 100 1400   32       0     0     0>
            , <&key_physical_attrs 100 100    0  132       0     0     0>
            , <&key_physical_attrs 100 100  100  132       0     0     0>
            , <&key_physical_attrs 100 100  200  120       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  129       0     0     0>
            , <&key_physical_attrs 100 100  500  142       0     0     0>
            , <&key_physical_attrs 100 100  600  142       0     0     0>
            , <&key_physical_attrs 100 100  800  142       0     0     0>
            , <&key_physical_attrs 100 100  900  142       0     0     0>
            , <&key_physical_attrs 100 100 1000  129       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  120       0     0     0>
            , <&key_physical_attrs 100 100 1300  129       0     0     0>
            , <&key_physical_attrs 100 100 1400  129       0     0     0>
            , <&key_physical_attrs 100 100    0  232       0     0     0>
            , <&key_physical_attrs 100 100  100  232       0     0     0>
            , <&key_physical_attrs 100 100  200  220       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  229       0     0     0>
            , <&key_physical_attrs 100 100  500  242       0     0     0>
            , <&key_physical_attrs 100 100  900  242       0     0     0>
            , <&key_physical_attrs 100 100 1000  229       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  220       0     0     0>
            , <&key_physical_attrs 100 100 1300  229       0     0     0>
            , <&key_physical_attrs 100 100 1400  229       0     0     0>
            , <&key_physical_attrs 100 100    0  332       0     0     0>
            , <&key_physical_attrs 100 100  100  332       0     0     0>
            , <&key_physical_attrs 100 100  200  320       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  329       0     0     0>
            , <&key_physical_attrs 100 100  500  342       0     0     0>
            , <&key_physical_attrs 100 100  900  342       0     0     0>
            , <&key_physical_attrs 100 100 1000  329       0     0     0>
            , <&key_physical_attrs 100 100 1100  300       0     0     0>
            , <&key_physical_attrs 100 100 1200  320       0     0     0>
            , <&key_physical_attrs 100 100 1300  329       0     0     0>
            , <&key_physical_attrs 100 100 1400  329       0     0     0>
            , <&key_physical_attrs 100 100    0  432       0     0     0>
            , <&key_physical_attrs 100 100  100  432       0     0     0>
            , <&key_physical_attrs 100 100  200  420       0     0     0>
            , <&key_physical_attrs 100 100  300  400       0     0     0>
            , <&key_physical_attrs 125 100  425  429     750   430   455>
            , <&key_physical_attrs 100 200  575  342    2500   430   455>
            , <&key_physical_attrs 100 100  675  442    2500   430   455>
            , <&key_physical_attrs 100 100  725  642 (-2500)   770   455>
            , <&key_physical_attrs 100 200  830  545 (-2500)   770   455>
            , <&key_physical_attrs 125 100  970  525  (-750)   430   455>
            , <&key_physical_attrs 100 100 1100  400       0     0     0>
            , <&key_physical_attrs 100 100 1200  420       0     0     0>
            , <&key_physical_attrs 100 100 1300  429       0     0     0>
            , <&key_physical_attrs 100 100 1400  429       0     0     0>
            ;
    };

};
